/* reset */
* {padding:0; margin:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted #ccc; cursor:help;}
.clear {clear:both;}
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content: ".";
}
a img {border:none;}
img {border: 0px; -ms-interpolation-mode: bicubic; vertical-align: middle;}
input:focus, textarea:focus, select:focus {outline: none;}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align:
	baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table button, table input {overflow: auto;}
.hide {display: none;}
/* end */
/* basic structure */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	hyphens: none;
	background: #fff;
}
html {
	font-family: 'Barlow', Helvetica, sans-serif;
	font-size: 62.5%;
	font-weight: normal;
	color: #323232;
}
.animate, .animate > img, .animate > a, .animate > div {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.container {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: relative;
}
.content {
	width: 100%;
	height: auto;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 70px;
}
.wrapper {
	max-width: 1400px;
	height: auto;
	margin: 0 auto;
	padding: 0 5%;
	position: relative;
}
/* end */
/* header */
header {
	width: 100%;
	min-height: 60px;
	height: auto;
	margin: 0 auto;
	position: relative;

}
header .headerContent {
	max-width: 1400px;
	min-height: 60px;
	margin: 0 auto;
	padding: 0 20px;
	border: 1px solid #cad6fe;
	border-top: none;
}
header .AHMlogo {
	width: 112px;
	height: 36px;
	padding-top: 12px;
	float: left;
}
header .AHMlogo img {width: 100%; height: auto;}
header .logoType {
	font-size: 1.9em;
	color: #48484d;
	padding: 29px 0 0 20px;
	display: inline-block;
	float: left;
}
header .headerContent nav {
	display: inline-block;
	float: right;
}
header .headerContent nav a {
	font-size: 1.8em;
	text-decoration: none;
	line-height: 60px;
	color: #1341d7;
	float: left;
}
/* end */
/* footer */
footer {
	width: 100%;
	min-height: 86px;
	background: #0029af;
	position: absolute;
	bottom: 0;
	padding: 10px 5%;
	font-size: 1.1em;
	text-align: center;
}
/* end */
/* landing */
.heroBanner {
	width: 100%;
	height: 700px;
	background: url(../images/hi_tech_bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.heroBanner .heroBannerContent {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-60%);
	z-index: 1;
}
/*17/01/18*/
.heroBanner h1 {
	width: 100%;
	font-size: 6.0em;
	color: #fff;
	font-weight: 700;
	padding: 30px 0;
}
.heroBanner .heroBannerContent img {
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 30px 0;
}
.heroBanner .cvCollection {
	width: 40%;
	background: #fff;
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-60%);
	z-index: 1;
	border: 1px solid #cad6fe;
	padding: 30px 20px;
}
.heroBanner .cvCollection h2 {
	font-size: 2.4em;
	font-weight: normal;
	color: #1341d7;
	padding-bottom: 15px;
}
.heroBanner .cvCollection p {
	font-size: 2.0em;
}
.heroBanner .cvCollection .field {
	width: 100%;
	height: 50px;
	border: 1px solid #cad6fe;
	margin: 15px 0;
	display: block;
}
.heroBanner .cvCollection .field span{
	font-size: 1.8em;
	color: #1341d7;
	text-decoration: none;
	line-height: 50px;
	padding: 0 15px;
	float: right;
}
.heroBanner .cvCollection .btnSubmitCV {
	width: auto;
	padding: 10px 30px;
	background: #1341d7;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 2.0em;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #fff;
	float: right;
}
.sectionDivider {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	z-index: 0;
}
.sectionDivider img {width: 100%; height: auto;}
.reasonAHM {
	width: 100%;
	height: auto;
	background: #f6f8ff;
}
.reasonAHM .reasonAHMContent {
	width: 50%;
	position: relative;
	float: left;
	margin-top: 10%;
}
.reasonAHM h2 {
	font-size: 3.6em;
	color: #1341d7;
	font-weight: normal;
	padding: 30px 0;
}
.reasonAHM p {
	font-size: 1.4em;
	line-height: 1.6em;
	color: #323237;
}
.reasonAHM .widen_career_img {
	width: 50%;
	height: auto;
	float: left;
	position: relative;
	padding: 40px 10%;
}
.reasonAHM .widen_career_img img {width: 100%; height: auto;}
.reasonAHM .accomplishment {
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0 30px 30px -6px rgba(73, 93, 157, 0.1);
	-moz-box-shadow: 0 30px 30px -6px rgba(73, 93, 157, 0.1);
	box-shadow: 0 30px 30px -6px rgba(73, 93, 157, 0.1);
	position: relative;
	bottom: -50px;
	z-index: 2;
}
.pillarAHM {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 100px 0 30px 0;
}
.pillarAHM h2 {
	font-size: 3.6em;
	color: #1341d7;
	font-weight: normal;
	text-align: center;
	padding: 30px 0;
}
.pillarAHM .pillarContainer {
	width: 100%;
	height: auto;
	position: relative;
}
.pillarAHM .pillarContainer .pillar {
	width: 25%;
	float: left;
	padding: 30px 20px;
}
.pillarAHM .pillarContainer .pillar .pillarContent {
	width: 100%;
	border: 1px solid #cad6fe;
}
.pillarAHM .pillarContainer .pillar .pillarContent .icon {
	width: 100%;
	position: relative;
	padding: 20px;
	border-bottom: 3px solid #1341d7;
}
.pillarAHM .pillarContainer .pillar .pillarContent .icon img {
	width: 60%;
	height: auto;
	margin: 0 20%;
}
.pillarAHM .pillarContainer .pillar .pillarContent .icon h3 {
	font-size: 2.0em;
	font-weight: normal;
	text-align: center;
	display: block;
}
.pillarAHM .pillarContainer .pillar .pillarContent p {
	font-size: 1.4em;
	line-height: 1.6em;
	padding: 20px;
}

/* end */
/* max queries */
@media (max-width: 1200px) {
}
/* end */
/* mobile media queries */
/* iPhone 4 and 4S */
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {
}
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}
/* iPhone 6 */
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2) {
}
]
/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}
/* iPhone 6+ */
/* Portrait and Landscape */
@media only screen
	and (min-device-width: 414px)
	and (max-device-width: 736px)
	and (-webkit-min-device-pixel-ratio: 3) {
}
/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}
