/* reset */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #ccc;
    cursor: help;
}

.clear {
    clear: both;
}

    .clear:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        content: ".";
    }

a img {
    border: none;
}

img {
    border: 0px;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

table button, table input {
    overflow: auto;
}

.hide {
    display: none;
}
/* end */
/* basic structure */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    hyphens: none;
    background: #fff;
}

html {
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: #323232;
}

.animate, .animate > img, .animate > a, .animate > div {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
}

.content {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 70px;
}

.wrapper {
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
}
/* end */
/* header */
header {
    width: 100%;
    min-height: 60px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}
    /*17/01/18*/
    header .headerContent {
        max-width: 1400px;
        min-height: 60px;
        margin: 0 auto;
        padding: 0 20px;
        background: #fff;
        border-top: none;
    }

    header .AHMlogo {
        width: 112px;
        height: 36px;
        padding-top: 12px;
        float: left;
    }

        header .AHMlogo img {
            width: 100%;
            height: auto;
        }

    header .logoType {
        font-size: 1.9em;
        color: #48484d;
        padding: 29px 0 0 20px;
        display: inline-block;
        float: left;
    }

    header .headerContent nav {
        display: inline-block;
        float: right;
    }

        header .headerContent nav a {
            font-size: 1.8em;
            text-decoration: none;
            line-height: 60px;
            color: #1341d7;
            float: left;
        }
/* end */
/* footer */
section.footer {
    width: 100%;
    min-height: 225px;
    background: #0029af;
}

footer {
    width: 100%;
    min-height: 60px;
    background: #03248f;
    color: #4c6dda;
    padding: 10px 5%;
    font-size: 1.1em;
    padding-top: 24px;
}

section.footer .footerColumn {
    width: 25%;
    float: left;
    position: relative;
    display: block;
    padding: 30px;
    font-size: 1.6em;
    color: #fff;
}

    section.footer .footerColumn.fcLogo {
        padding: 60px 7% 30px 7%;
    }

        section.footer .footerColumn.fcLogo img {
            width: 100%;
            height: auto;
        }

    section.footer .footerColumn h4 {
        font-size: 3.0rem;
        font-weight: 700;
        color: #ffba00;
        padding-bottom: 30px;
    }

    section.footer .footerColumn .icoFb {
        width: 25px;
        height: 25px;
        position: relative;
        float: left;
        margin-right: 20px;
    }

    section.footer .footerColumn .icoLinkedin {
        width: 25px;
        height: 25px;
        position: relative;
        float: left;
    }

        section.footer .footerColumn .icoFb img, section.footer .footerColumn .icoLinkedin img {
            width: 100%;
            height: auto;
        }
/* end */
/* landing */
.heroBanner {
    width: 100%;
    height: 700px;
    background: url(../images/hi_tech_bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

    .heroBanner .heroBannerContent {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-60%);
        z-index: 1;
    }
    /*17/01/18*/
    .heroBanner h1 {
        width: 100%;
        font-size: 8.5em;
        color: #fff;
        font-weight: 700;
        padding: 30px 0;
    }
    /*17/01/18*/
    .heroBanner h2 {
        width: 100%;
        font-size: 3.0em;
        color: #fff;
        font-weight: normal;
        padding: 0 0 30px 0;
    }
    /*17/01/18*/
    .heroBanner .cvCollection {
        width: 40%;
        background: rgba(255,255,255,0.9);
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-60%);
        z-index: 1;
        padding: 30px 20px;
    }
        /*17/01/18*/
        .heroBanner .cvCollection h2, .heroBanner .cvCollection h3 {
            font-size: 2.4em;
            font-weight: normal;
            color: #1341d7;
            padding-bottom: 15px;
        }
        /*17/01/18*/
        .heroBanner .cvCollection h3 {
            float: left;
        }

        .heroBanner .cvCollection p {
            font-size: 2.0em;
        }
        /*17/01/18*/
        .heroBanner .cvCollection .field {
            width: 100%;
            height: 50px;
            border: 1px solid #1341d7;
            background: #fff;
            margin: 15px 0;
            display: block;
        }

            .heroBanner .cvCollection .field span {
                font-size: 1.8em;
                color: #1341d7;
                text-decoration: none;
                line-height: 50px;
                padding: 0 15px;
                float: right;
            }
        /*17/01/18*/
        .heroBanner .cvCollection .cvDivider {
            width: 100%;
            height: 1px;
            background: #a6b4e2;
            margin: 20px 0;
        }
        /*17/01/18*/
        .heroBanner .cvCollection .btnCreateCV {
            width: auto;
            display: inline-block;
            padding: 10px 15px;
            background: #fff;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            font-size: 2.0em;
            font-weight: normal;
            text-align: center;
            text-decoration: none;
            color: #1341d7;
            border: 1px solid #1341d7;
            float: right;
            outline: none;
        }

        .heroBanner .cvCollection .btnSubmitCV {
            width: auto;
            display: inline-block;
            padding: 10px 30px;
            background: #ffba00;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            font-size: 2.0em;
            font-weight: normal;
            text-align: center;
            text-decoration: none;
            color: #1341d7;
            float: right;
            outline: none;
            border: none;
        }

/*07/04/2018*/
.disclaimerTnC {
    font-size: 1.2em;
    text-decoration: none;
    color: #1341d7;
    display: block;
    cursor: pointer;
}

    .disclaimerTnC:hover {
        text-decoration: underline;
    }

.sectionDivider {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

    .sectionDivider img {
        width: 100%;
        height: auto;
    }

.sectionDivider2 {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

    .sectionDivider2 img {
        width: 100%;
        height: auto;
    }

.reasonAHM {
    width: 100%;
    height: auto;
    background: #f6f8ff;
}

    .reasonAHM .reasonAHMContent {
        width: 50%;
        position: relative;
        float: left;
        margin-top: 10%;
    }
    /*17/01/18*/
    .reasonAHM h2 {
        font-size: 3.6em;
        color: #1341d7;
        font-weight: 700;
        padding: 30px 0;
    }
    /*17/01/18*/
    .reasonAHM h3 {
        font-size: 2.4em;
        color: #1341d7;
        font-weight: normal;
        padding: 10px 0;
    }
    /*17/01/18*/
    .reasonAHM p {
        font-size: 1.4em;
        line-height: 1.6em;
        color: #323237;
        padding-bottom: 30px;
    }
    /*17/01/18*/
    .reasonAHM .widen_career_img {
        width: 50%;
        height: auto;
        float: left;
        position: relative;
        padding: 100px 10%;
    }

        .reasonAHM .widen_career_img img {
            width: 100%;
            height: auto;
        }

    .reasonAHM .accomplishment {
        width: 1000px;
        height: 100px;
        margin: 0 auto;
        background: #fff;
        -webkit-box-shadow: 0 30px 30px -6px rgba(73, 93, 157, 0.1);
        -moz-box-shadow: 0 30px 30px -6px rgba(73, 93, 157, 0.1);
        box-shadow: 0 30px 30px -6px rgba(73, 93, 157, 0.1);
        position: relative;
        bottom: -50px;
        z-index: 2;
    }
/*17/01/18*/
.whoApply {
    width: 100%;
    height: auto;
    background: #f6f8ff;
    padding: 50px 0;
    position: relative;
}
    /*17/01/18*/
    .whoApply h2 {
        font-size: 3.6em;
        color: #1341d7;
        font-weight: 700;
        padding: 30px 0;
        text-align: center;
        z-index: 2;
        position: relative;
    }
    /*17/01/18*/
    .whoApply p {
        font-size: 1.4em;
        line-height: 1.6em;
        color: #323237;
        text-align: center;
        z-index: 2;
        position: relative;
    }

.pillarAHM {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 60px 0 30px 0;
}
    /*17/01/18*/
    .pillarAHM h2 {
        font-size: 3.6em;
        color: #1341d7;
        font-weight: 700;
        text-align: center;
        padding: 30px 0;
    }

    .pillarAHM .pillarContainer {
        width: 100%;
        height: auto;
        position: relative;
    }

        .pillarAHM .pillarContainer .pillar {
            width: 25%;
            float: left;
            padding: 30px 20px;
        }

            .pillarAHM .pillarContainer .pillar .pillarContent {
                width: 100%;
                border: 1px solid #cad6fe;
                border-bottom: 3px solid #1341d7;
            }
                /*17/01/18*/
                .pillarAHM .pillarContainer .pillar .pillarContent .icon {
                    width: 100%;
                    position: relative;
                    padding: 0 20px 100% 20px;
                }

                    .pillarAHM .pillarContainer .pillar .pillarContent .icon.pillarImage1 {
                        background: url(../images/pillar_image_1.jpg) center center no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    }

                    .pillarAHM .pillarContainer .pillar .pillarContent .icon.pillarImage2 {
                        background: url(../images/pillar_image_2.jpg) center center no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    }

                    .pillarAHM .pillarContainer .pillar .pillarContent .icon.pillarImage3 {
                        background: url(../images/pillar_image_3.jpg) center center no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    }

                    .pillarAHM .pillarContainer .pillar .pillarContent .icon.pillarImage4 {
                        background: url(../images/pillar_image_4.jpg) center center no-repeat;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    }
                    /*17/01/18*/
                    /* .pillarAHM .pillarContainer .pillar .pillarContent .icon img {
	width: 60%;
	height: auto;
	margin: 0 20%;
} */
                    /*17/01/18*/
                    .pillarAHM .pillarContainer .pillar .pillarContent .icon h3 {
                        font-size: 2.0em;
                        color: #fff;
                        font-weight: 700;
                        text-align: center;
                        display: block;
                        position: absolute;
                        width: 100%;
                        bottom: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                .pillarAHM .pillarContainer .pillar .pillarContent p {
                    font-size: 1.4em;
                    line-height: 1.6em;
                    padding: 20px;
                }
/* end */
/*17/01/18*/
/* pop up */
.popupOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 5;
}

.popUp {
    width: 560px;
    height: auto;
    padding: 20px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
}

.popUpNoCV {
    width: 560px;
    height: auto;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}

.popUp .btnClosePop {
    width: 50px;
    height: 50px;
    background: url(../images/btn_close_pop.png) center center no-repeat;
    background-size: 50% 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.popUp .popUpContent {
    width: 100%;
    position: relative;
}

    .popUp .popUpContent h2 {
        font-size: 1.8em;
        color: #1341d7;
        font-weight: 700;
        padding: 0 0 20px 0;
    }

    .popUp .popUpContent Label {
        font-size: 1.8em;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .popUp .popUpContent input {
        width: 100%;
        height: 45px;
        background: #fff;
        font-family: 'Barlow', Helvetica, sans-serif;
        font-size: 1.4em;
        color: #1341d7;
        border: 1px solid #1341d7;
        display: block;
        margin-bottom: 30px;
        padding: 10px;
    }

    .popUp .popUpContent .popUpCheckbox {
        width: 20%;
        height: 45px;
        font-family: 'Barlow', Helvetica, sans-serif;
        font-size: 1.2em;
        color: #1341d7;
        border: 0;
        display: inline;
        margin-bottom: 30px;
        padding: 10px;
    }

    .popUp .popUpContent ::-webkit-input-placeholder {
        color: #919ee8;
    }

    .popUp .popUpContent :-moz-placeholder {
        color: #919ee8;
    }

    .popUp .popUpContent ::-moz-placeholder {
        color: #919ee8;
    }

    .popUp .popUpContent :-ms-input-placeholder {
        color: #919ee8;
    }

span.ddArrow {
    width: 11px;
    height: 7px;
    background: url(../images/dd_arrow.png) no-repeat 0 0;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin: 14px 0 0 0;
    z-index: 1;
}

.popUp .popUpContent .optionField {
    width: 100%;
    height: 45px;
    background: #fff;
    font-size: 1.4em;
    color: #1341d7;
    border: 1px solid #1341d7;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

    .popUp .popUpContent .optionField select {
        width: 100%;
        height: 50px;
        margin: 0 2%;
        padding: 1% 20px 1% 6%;
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Barlow', Helvetica, sans-serif;
        color: #e44349;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

.popUp .popUpContent label .errorMessage {
    font-size: 1.0rem;
    position: absolute;
    top: 80px;
}

.popUp .popUpContent .btnSubmitInfo {
    width: auto;
    display: inline-block;
    padding: 10px 30px;
    background: #ffba00;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 2.0em;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: #1341d7;
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
}
/* end */
/*17/01/18*/
/*07/04/18*/
.popUpTnc {
    width: 768px;
    height: 80%;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
}
    /*07/04/18*/
    .popUpTnc .popUpContent {
        overflow-y: scroll;
        height: 100%;
        font-size: 1.4em;
    }
        /*07/04/18*/
        .popUpTnc .popUpContent h2 {
            font-size: 2.8rem;
            margin-top: 20px;
        }

        .popUpTnc .popUpContent h3 {
            font-size: 1.8rem;
            margin-top: 20px;
        }

        .popUpTnc .popUpContent h4 {
            font-size: 1.6rem;
            margin-top: 20px;
        }

        .popUpTnc .popUpContent p {
            margin-top: 20px;
        }

        .popUpTnc .popUpContent ul {
            list-style: disc;
            margin-left: 30px;
        }

        .popUpTnc .popUpContent li {
            margin-top: 10px;
        }
/* max queries */
@media (max-width: 1199px) {
    .heroBanner h1 {
        font-size: 7vw;
    }
}

@media (max-width: 1024px) {
    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .heroBanner {
        height: auto;
        padding: 100px 0 150px 0;
    }

        .heroBanner .heroBannerContent {
            width: 100%;
            padding: 0 5%;
            position: relative;
            top: 0;
            left: 0;
            transform: translateY(0%);
        }

        .heroBanner .cvCollection {
            width: 90%;
            position: relative;
            top: 0;
            right: 0;
            transform: translateY(0%);
            margin: 0 auto;
        }

    .reasonAHM .reasonAHMContent {
        width: 100%;
        float: none;
        margin: 0;
        padding: 50px 0 0 0;
    }

    .reasonAHM .widen_career_img {
        width: 100%;
        float: none;
    }

    .pillarAHM .pillarContainer .pillar {
        width: 50%;
    }

    section.footer .footerColumn {
        width: 50%;
    }

    section.footer .footerColumn.fcLogo {
        width: 180px;
        float: none;
        padding: 50px 30px 30px 30px;
    }
    /*07/04/18*/
    .popUpTnc {
        width: 90%;
    }
}

@media (max-width: 640px) {
    .pillarAHM .pillarContainer .pillar {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn {
        width: 100%;
        float: none;
    }

    .popUp {
        width: 90%;
    }
}

/* end */
/* mobile media queries */
/* iPhone 4 and 4S */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .heroBanner {
        height: auto;
        padding: 100px 0 150px 0;
    }

        .heroBanner h1 {
            font-size: 7vw;
        }

        .heroBanner .cvCollection {
            width: 90%;
            position: relative;
            top: 0;
            right: 0;
            transform: translateY(0%);
            margin: 0 auto;
        }

    .reasonAHM .reasonAHMContent {
        width: 100%;
        float: none;
        margin: 0;
        padding: 50px 0 0 0;
    }

    .reasonAHM .widen_career_img {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn.fcLogo {
        width: 180px;
        float: none;
        padding: 50px 30px 30px 30px;
    }

    .pillarAHM .pillarContainer .pillar {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn {
        width: 100%;
        float: none;
    }
}
/* iPhone 6 */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .heroBanner {
        height: auto;
        padding: 100px 0 150px 0;
    }

        .heroBanner h1 {
            font-size: 7vw;
        }

        .heroBanner .cvCollection {
            width: 90%;
            position: relative;
            top: 0;
            right: 0;
            transform: translateY(0%);
            margin: 0 auto;
        }

    .reasonAHM .reasonAHMContent {
        width: 100%;
        float: none;
        margin: 0;
        padding: 50px 0 0 0;
    }

    .reasonAHM .widen_career_img {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn.fcLogo {
        width: 180px;
        float: none;
        padding: 50px 30px 30px 30px;
    }

    .pillarAHM .pillarContainer .pillar {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn {
        width: 100%;
        float: none;
    }
}
/* iPhone 6+ */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .heroBanner {
        height: auto;
        padding: 100px 0 150px 0;
    }

        .heroBanner h1 {
            font-size: 7vw;
        }

        .heroBanner .cvCollection {
            width: 90%;
            position: relative;
            top: 0;
            right: 0;
            transform: translateY(0%);
            margin: 0 auto;
        }

    .reasonAHM .reasonAHMContent {
        width: 100%;
        float: none;
        margin: 0;
        padding: 50px 0 0 0;
    }

    .reasonAHM .widen_career_img {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn.fcLogo {
        width: 180px;
        float: none;
        padding: 50px 30px 30px 30px;
    }

    .pillarAHM .pillarContainer .pillar {
        width: 100%;
        float: none;
    }

    section.footer .footerColumn {
        width: 100%;
        float: none;
    }
}
