﻿<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119286385-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119286385-1');
    </script> 

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=0.5; user-scalable=1;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="auto hire me,automotive career,automobile career,jobs,malaysia">
    <meta name=”description” content=”AUTO HIRE ME - Automotive Career Database in Malaysia”>
    <script src="~/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/js/modernizr-2.6.1.min.js" type="text/javascript"></script>

    <title>AUTO HIRE ME - Automotive Careers and Jobs in Malaysia</title>
</head>

<body>
    @*<div class="container body-content">*@
        @RenderBody()
        <footer>Copyright (c) 2018 autohireme.com All Rights Reserved.</footer>
    @*</div>*@

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/tab")
    @*@Scripts.Render("~/Content/css")
        @Scripts.Render("~/Content/jqueryui/css")*@
    @*@RenderSection("scripts", required: false)*@

    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,700" rel="stylesheet">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <link href="~/Content/jqueryui/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/jqueryui/jquery-ui.structure.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/jqueryui/jquery-ui.theme.css" rel="stylesheet" type="text/css" media="screen" />
</body>


</html>
