﻿@model AutoHire.Web.Models.UploadMainModel

@{
    ViewBag.Title = "Home Page";
}



<style>
    #fileName {
        font: 200px;
    }
</style>


@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="popupOverlay" id="popupOverlay" style="display:none"></div>
    <div class="popUp" id="popUp" style="display:none; top:350px">
        <a href="#" class="btnClosePop" onclick="UploadCV_HidePopUp();"></a>
        <div class="popUpContent">
            <h2>Fill up information below to complete</h2>
            <label>
                Name*
                <span class="note" id="txtErrorFullName" style="color:red">@Html.ValidationMessageFor(model => model.FullName)</span>
            </label>
            @Html.TextBoxFor(model => model.FullName, new { placeholder = "As per I.C." })
            <label>
                Mobile Number
                <span class="note" id="txtErrorPhoneNo" style="color:red">@Html.ValidationMessageFor(model => model.PhoneNumber)</span>
            </label>
            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "e.g. 0123456789" })
            <label>
                Email*
                <span class="note" id="txtErrorEmail" style="color:red">@Html.ValidationMessageFor(model => model.Email)</span>
            </label>
            @Html.TextBoxFor(model => model.Email, new { placeholder = "e.g. johnsmith@gmail.com" })
            <label>
                Preferred position
                <span class="note" id="txtPreferPosition_NoCV" style="color:red"></span>
            </label>
            @Html.DropDownListFor(model => model.PreferredPosition, new SelectList(AutoHire.Web.Models.DefaultData.PreferredPosition, "Key", "Value", 0), new { @class = "optionField", style = "width: 100%;" })
            @Html.TextBoxFor(model => model.PreferredPositionOther, new { @class = "otherTextBox", style = "display: none;" })
            <input type="submit" value="Submit" name="SubmitCV" id="btnConfirmUpload" class="btnSubmitInfo">
            <div class="clear"></div>
        </div>
    </div>

    <!-- end -->



    <div class="container">
        <header>
            <div class="headerContent">
                <div class="AHMlogo"><img src="/images/ahm_logo.png" alt="AUTO HIRE ME"></div>
                <div class="logoType">Auto Hire Me</div>
                @*<nav>
                        <a href="#AboutUs">About</a>
                    </nav>*@
            </div>
        </header>
        <div class="content">
            <section class="heroBanner">
                <div class="heroBannerContent">
                    <h1>We Connect Your Future.</h1>
                    <h2>Sick of searching and waiting jobs on the "street"? We provide you solutions for your future!</h2>
                </div>
                <div class="cvCollection">
                    <h2>Upload your CV now</h2>
                    <p>No login required</p>


                    <input id="BrowseFiles" type="file" name="file" style="display:none" accept="application/pdf,.docx,.doc,.txt,.xls,.xlsx" />
                    <a href="#" id="upload-link" class="field" onclick="BrowseFile(this); return false;"><span id="spBrowse">Browse</span></a>

                    <div class="note">*maximum file size is 5mb</div>
                    <div class="note" id="txtErrorUpload" style="color:red"></div>
                    <input type="submit" id="btnUploadFile" value="Upload" class="btnSubmitCV">

                    <div class="clear"></div>
                    <div class="cvDivider"></div>
                    <h3>Don't have a resume yet?</h3>
                    <input type="submit" value="Click here" class="btnCreateCV" id="btnCreateCV">
                    <div class="clear"></div>
                    @ViewBag.Message
                    <a class="disclaimerTnC" href="#" id="tncLink" onclick="showTNC(); return false;">Disclaimer / Terms & Conditions</a>
                </div>
                <div class="sectionDivider"><img src="/images/section_divider.png"></div>
            </section>
            <section class="reasonAHM">
                <div class="wrapper">
                    <div class="reasonAHMContent">
                        <h2>Why Auto Hire Me Solutions?</h2>
                        <p>Trusted and well known automotive brands are waiting for you.  You choose the jobs not the jobs choose you. Transparent and no hidden agent fees.</p>
                        <h3>Vision</h3>
                        <p>To be recognized as a world-class Automotive Jobs Platform which can positively influence the Automotive Industry.</p>
                        <h3>Mission</h3>
                        <p>To be the leader in the Automotive Industry which provides Jobs Searching, Jobs Listing, Learning & Development and Consultancy Services.</p>
                    </div>
                    <div class="widen_career_img"><img src="/images/ahm_widen_career_img.png" alt="Auto Hire Me widen your career path."></div>
                    <div class="clear"></div>
                </div>
                <!--<div class="accomplishment"></div>-->
            </section>
            <!--17/01/18-->
            <section class="whoApply">
                <div class="wrapper">
                    <h2>Who should apply?</h2>
                    <p>Fresh Graduates, Experienced Seniors and even top management.</p>
                    <p>Anyone with or without experience and interested in automotive industry.</p>
                </div>
                <div class="sectionDivider2"><img src="/images/section_divider_2.png"></div>
            </section>
            <section class="pillarAHM">
                <a id="AboutUs"></a>
                <div class="wrapper">
                    <h2>Business Services</h2>
                    <div class="pillarContainer">
                        <div class="pillar">
                            <div class="pillarContent">
                                <div class="icon pillarImage1">
                                    <h3>Job Seekers</h3>
                                </div>
                                <p style="text-align:center">
                                    Job Search <br />
                                    Career Guidance<br />
                                    Job Consultancy
                                </p>
                            </div>
                        </div>
                        <div class="pillar">
                            <div class="pillarContent">
                                <div class="icon pillarImage2">
                                    <h3>Consultancy services</h3>
                                </div>
                                <p style="text-align:center">
                                    Provide complete solutions for automotive tools & equipment, design & build layout planning, sales to after-sales services.
                                </p>
                            </div>
                        </div>
                        <div class="pillar">
                            <div class="pillarContent">
                                <div class="icon pillarImage3">
                                    <h3>Employer</h3>
                                </div>
                                <p style="text-align:center">
                                    Staff Solutions <br />
                                    Candidate Matching<br />
                                    Talent Search<br />
                                    Employee Development
                                </p>
                            </div>
                        </div>
                        <div class="pillar">
                            <div class="pillarContent">
                                <div class="icon pillarImage4">
                                    <h3>Learning &amp; Development</h3>
                                </div>
                                <p style="text-align:center">
                                    Automotive Courses<br />
                                    Soft Skills<br />
                                    Computer Literacy<br />
                                    Personal Development
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}

<div class="popUp" id="popUpNoCV" style="display:none; top:680px">
    <a href="#" class="btnClosePop" onclick="UploadNoCV_HidePopUp();"></a>
    <div class="popUpContent">
        @Html.Partial("SubmitNoResumeView")
    </div>
</div>

<div class="popUp popUpTnc" id="popUpTNC" style="display:none;">
    <a href="#" class="btnClosePop" onclick="popUpTNC_HidePopUp();"></a>
    @Html.Partial("popUpTNC")
</div>

<!--17/01/18-->
<section class="footer">
    <div class="footerColumn fcLogo">
        <img src="/images/ahm_logo_footer.png" alt="AUTO HIRE ME">
    </div>
    <div class="footerColumn">
        <h4>Contact us</h4>
        +6018 918 3323 <br><br>
        <a href="mailto:support@autohireme.com" style="color:white" target="_top">support@autohireme.com</a><br>
    </div>
    <div class="footerColumn">
        <h4>Follow us</h4>
        <a href="https://www.facebook.com/AutoHireMe" class="icoFb" target="_blank"><img src="/images/ico_fb.png" alt="follow us on Facebook"></a>
    </div>
    <div class="clear"></div>
</section>
<!-- end -->


<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            yearRange: '-100y:c+nn',
            maxDate: '-1d'
        });
    })

$(document).ready(function () {
        /**/
    @Html.Raw(ViewBag.scripCall)
    /**/

    $('input[type=file]').change(function () {
        document.getElementById("upload-link").innerHTML = "<span style=\"float:left\" class=\"customSpan\">" + this.files[0].name + "<span>";//$("input[type='file']").val();//this.value;
    })

    $('#btnUploadFile').click(function (e) {
        e.preventDefault();

        if (document.getElementById("upload-link").innerText == "Browse") {
            document.getElementById("txtErrorUpload").innerText = "*Please select a file to upload";
            //                $('#txtErrorUpload').innerText = "*Please select a file to upload";
            document.getElementById('popUp').style.display = 'none';
            document.getElementById('popupOverlay').style.display = 'none';
            return false;
        } else {
            document.getElementById("txtErrorUpload").innerText = "";
            document.getElementById('popUp').style.display = 'block';
            document.getElementById('popupOverlay').style.display = 'block';
        }

    });


    if ($('#PreferredPosition').val() == "Others") {
        document.getElementById('PreferredPositionOther').style.display = 'block';
    }
    else {
        document.getElementById('PreferredPositionOther').style.display = 'none';
    }

    $('#PreferredPosition').change(function () {
        if (this.value == "Others")
            document.getElementById('PreferredPositionOther').style.display = 'block';
        else
            document.getElementById('PreferredPositionOther').style.display = 'none';
    });

    jQuery('#PreferredPositionOther').on('input', function () {
        // do your stuff
        if ($('#PreferredPositionOther').val() == "" && $('#PreferredPosition').val() == "Others") {
            $('#txtPreferPosition_NoCV').text("Please enter a description for preferred position");
        }
        else {
            $('#txtPreferPosition_NoCV').text("");
        }
    });


    $('#btnConfirmUpload').click(function (e) {
        var formValid = true;
        if ($('#PreferredPositionOther').val() == "" && $('#PreferredPosition').val() == "Others") {
            $('#txtPreferPosition_NoCV').text("Please enter a description for preferred position");
            e.preventDefault(e);
            formValid = false;
        }
        else {
            $('#txtPreferPosition_NoCV').text("");
        }

        return formValid;
    });

});

$('#btnCreateCV').click(function (e) {
    e.preventDefault();

    document.getElementById("txtErrorUpload").innerText = "";
    document.getElementById('popUp').style.display = 'none';
    document.getElementById('popupOverlay').style.display = 'block';
    document.getElementById('popUpNoCV').style.display = 'block';
});

function BrowseFile(e) {
    $("#BrowseFiles").click();
}

function DisplayMsgAfterUpload(message) {
    if (message != null && message != "") {
        alert(message);
    }
    else {
    }
}

function UploadCV_HidePopUp() {
    document.getElementById('popUp').style.display = 'none';
    document.getElementById('popupOverlay').style.display = 'none';
    return false;
}

function UploadCV_ShowPopup() {
    document.getElementById('popUp').style.display = 'block';
    document.getElementById('popupOverlay').style.display = 'block';
    return false;
}

function UploadNoCV_HidePopUp() {
    document.getElementById('popUpNoCV').style.display = 'none';
    document.getElementById('popupOverlay').style.display = 'none';
    return false;
}

function UploadNoCV_ShowPopup() {
    document.getElementById('popUpNoCV').style.display = 'block';
    document.getElementById('popupOverlay').style.display = 'block';
    return false;
    }

function popUpTNC_HidePopUp() {
    document.getElementById('popUpTNC').style.display = 'none';
    document.getElementById('popupOverlay').style.display = 'none';
    return false;
}

function showTNC() {
    document.getElementById('popUpTNC').style.display = 'block';
    document.getElementById('popupOverlay').style.display = 'block';
    return false;
}


</script>
