﻿
    <div class="popUpContent">
        <h2>Terms & Conditions</h2>
        <p>By submitting this Form, you hereby agree that Auto Hire Me (AHM) may collect, obtain, store and process your personal data that you provide in this form for the purpose of receiving updates, news, promotional and marketing mails or materials from AHM.</p>
        <p>You hereby give your consent to AHM to:-</p>
        <ul>
            <li>Store and process your Personal Data;</li>

            <li>Disclose your Personal Data to the relevant governmental authorities or third parties where required by law or for legal purposes.</li>
        </ul>
        <p>In addition, your personal data may be transferred to any company within the AHM which may involve sending your data to a location outside Malaysia. For the purpose of updating or correcting such data, you may at any time apply to the AHM to have access to your personal data which are stored by AHM.</p>
        <p>For the avoidance of doubt, Personal Data includes all data defined within the Personal Data Protection Act 2010 including all data you had disclosed to AHM in this Form.</p>
        <h3>Disclaimer:</h3>
        <p>AHM shall not be responsible for the content of any information nor shall we be liable for any conclusion, loss or damage of any nature whatsoever suffered or may be suffered by any job seekers or members of the public arising from or as a result of reliance on or usage of any information from portals, websites or e-mail domains which are not authorised by AHM.</p>
        <h4>No Warranties</h4>
        <p>This website is provided "as is" without any representations or warranties, expressed or implied. AHM no representations or warranties in relation to this website or the information and materials provided on this website.</p>
        <p>Without prejudice to the generality of the foregoing paragraph, AHM does not warrant that:</p>
        <ul>
            <li>this website will be constantly available, or available at all; or
            <li>the information on this website is complete, true, accurate or non-misleading.
        </ul>
        <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind.</p>
        <h4>Limitations of Liability</h4>
        <p>AHM will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
        <ul>
            <li>for any indirect, special or consequential loss; or</li>
            <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
        </ul>
        <p>These limitations of liability apply even if AHM has been expressly advised of the potential loss.</p>
        <h4>Reasonableness</h4>
        <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable. If you do not think they are reasonable, you must not use this website.</p>
    </div>
