﻿@model AutoHire.Web.Models.NoResumeSubmitViewModel


@using (Html.BeginForm("SubmitNoCV", "Home", FormMethod.Post, new { }))
{

    <h2>Fill up information below to complete</h2>
    <ul style="list-style:none">
        <li>
            <label class="popUpLabel">
                Name*
                <span class="note" id="txtErrorFullName_NoCV" style="color:red">@Html.ValidationMessageFor(model => model.FullName)</span>
                @Html.TextBoxFor(model => model.FullName, new { placeholder = "e.g. John Smith" })

            </label>
        </li>
        <li>
            <label class="popUpLabel">
                Date of Birth*
                <span class="note" id="txtDOB_NoCV" style="color:red">@Html.ValidationMessageFor(model => model.DOB)</span>
                @Html.TextBoxFor(model => model.DOB, new { placeholder = "e.g. 1990-01-20", @class = "date-picker" })

            </label>
        </li>
        <li>
            <label class="popUpLabel">
                Mobile Number
                <span class="note" id="txtErrorPhoneNo_NoCV" style="color:red">@Html.ValidationMessageFor(model => model.PhoneNumber)</span>
            </label>
            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "e.g. 0123456789" })
        </li>
        <li>
            <label class="popUpLabel">
                Email*
                <span class="note" id="txtErrorEmail_NoCV" style="color:red">@Html.ValidationMessageFor(model => model.Email)</span>
            </label>
            @Html.TextBoxFor(model => model.Email, new { placeholder = "e.g. johnsmith@gmail.com" })

        </li>
        <li>
            <label>
                Place of residence
                <span class="note" id="txtResidence_NoCV" style="color:red"></span>
            </label>
                @Html.DropDownListFor(model => model.PlaceOfResidence, new SelectList(AutoHire.Web.Models.DefaultData.PlaceOfResidence, "Key", "Value", ""), new { @class = "optionField", style = "width: 100%;" })               
        </li>
        <li>
            <label class="popUpLabel">
                Education Level
                <span class="note" id="txtEducation_NoCV" style="color:red"></span>
            </label>
            @Html.DropDownListFor(model => model.EducationLevel, new SelectList(AutoHire.Web.Models.DefaultData.EducationLevel, "Key", "Value", 0), new { @class = "optionField", style = "width: 100%;" })
            @Html.TextBoxFor(model=> model.EducationLevelOther, new { style = "display: none;" })
        </li>
        <li>
            <label class="popUpLabel">
                Years Of Experience
                <span class="note" id="txtExperience_NoCV" style="color:red"></span>
            </label>
            @Html.DropDownListFor(model => model.ExperienceYears, new SelectList(AutoHire.Web.Models.DefaultData.ExperienceYears, "Key", "Value", 0), new { @class = "optionField", style = "width: 100%;" })
        </li>
        <li>
            <label class="popUpLabel">
                Current position
                <span class="note" id="txtCurrentPosition_NoCV" style="color:red"></span>
            </label>
            @Html.DropDownListFor(model => model.CurrentPosition, new SelectList(AutoHire.Web.Models.DefaultData.CurrentPosition, "Key", "Value", 0), new { @class = "optionField", style = "width: 100%;" })
            @Html.TextBoxFor(model => model.CurrentPositionOther, new { @class = "otherTextBox", style = "display: none;" })
        </li>
        <li>
            <label class="popUpLabel">
                Preferred position
                <span class="note" id="c" style="color:red"></span>
            </label>
            @Html.DropDownListFor(model => model.PreferredPosition, new SelectList(AutoHire.Web.Models.DefaultData.PreferredPosition, "Key", "Value", 0), new { @class = "optionField", id = "p_PreferredPosition", style = "width: 100%;" })
            @Html.TextBoxFor(model => model.PreferredPositionOther, new { @class="otherTextBox", id = "p_PreferredPositionOther", style = "display: none;" })
        </li>
        <li>
            <label class="popUpLabel">
                Expected Salary (RM)
                <span class="note" id="txtPreferPosition_NoCV" style="color:red"></span>
            </label>
            @Html.TextBoxFor(model => model.ExpectedSalary, new { placeholder = "e.g. 3000" })
        </li>
    </ul>
    <input type="submit" value="Submit" id="btnUploadNoCV" class="btnSubmitInfo" >
    <div class="clear"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#SubmitNoCV").submit(function (e) {
                e.preventDefault();
                var f = $(this);
                $.post(f.attr("action"), f.serialize(), function (res) {
                    if (res.Status === "success") {
                        alert(res.Message);
                        window.location.href = "index";
                    }
                });
            });

            if ($('#EducationLevel').val() == "Others") {
                document.getElementById('EducationLevelOther').style.display = 'block';
            }
            else {
                document.getElementById('EducationLevelOther').style.display = 'none';
            }

            $('#EducationLevel').change(function () {
                if (this.value == "Others")
                    document.getElementById('EducationLevelOther').style.display = 'block';
                else
                    document.getElementById('EducationLevelOther').style.display = 'none';
            });

            if ($('#CurrentPosition').val() == "Others") {
                document.getElementById('CurrentPositionOther').style.display = 'block';
            }
            else {
                document.getElementById('CurrentPositionOther').style.display = 'none';
            }

            $('#CurrentPosition').change(function () {
                if (this.value == "Others")
                    document.getElementById('CurrentPositionOther').style.display = 'block';
                else
                    document.getElementById('CurrentPositionOther').style.display = 'none';
            });

            if ($('#p_PreferredPosition').val() == "Others") {
                document.getElementById('p_PreferredPositionOther').style.display = 'block';
            }
            else {
                document.getElementById('p_PreferredPositionOther').style.display = 'none';
            }

            $('#p_PreferredPosition').change(function () {
                if (this.value == "Others")
                    document.getElementById('p_PreferredPositionOther').style.display = 'block';
                else
                    document.getElementById('p_PreferredPositionOther').style.display = 'none';
            });

            jQuery('#CurrentPositionOther').on('input', function () {
                // do your stuff
                if ($('#CurrentPositionOther').val() == "" && $('#CurrentPosition').val() == "Others") {
                    $('#txtCurrentPosition_NoCV').text("Please enter a description for current position");
                }
                else {
                    $('#txtCurrentPosition_NoCV').text("");
                }
            });

            jQuery('#p_PreferredPositionOther').on('input', function () {
                // do your stuff
                if ($('#p_PreferredPositionOther').val() == "" && $('#p_PreferredPosition').val() == "Others") {
                    $('#txtPreferPosition_NoCV').text("Please enter a description for preferred position");
                }
                else {
                    $('#txtPreferPosition_NoCV').text("");
                }
            });

            jQuery('#EducationLevelOther').on('input', function () {
                // do your stuff
                if ($('#EducationLevelOther').val() == "" && $('#EducationLevel').val() == "Others") {
                    $('#txtEducation_NoCV').text("Please enter a description for Education Level");
                }
                else {
                    $('#txtEducation_NoCV').text("");
                }
            });

            $('#btnUploadNoCV').click(function (e) {
                var formValid = true;
                if ($('#EducationLevelOther').val() == "" && $('#EducationLevel').val() == "Others") {
                    $('#txtEducation_NoCV').text("Please enter a description for Education Level");
                    e.preventDefault(e);
                    formValid = false;
                }
                else {
                    $('#txtEducation_NoCV').text("");
                }

                if ($('#p_PreferredPositionOther').val() == "" && $('#p_PreferredPosition').val() == "Others") {
                    $('#txtPreferPosition_NoCV').text("Please enter a description for preferred position");
                    e.preventDefault(e);
                    formValid = false;
                }
                else {
                    $('#txtPreferPosition_NoCV').text("");
                }

                if ($('#CurrentPositionOther').val() == "" && $('#CurrentPosition').val() == "Others") {
                    $('#txtCurrentPosition_NoCV').text("Please enter a description for current position");
                    e.preventDefault(e);
                    formValid = false;
                }
                else {
                    $('#txtCurrentPosition_NoCV').text("");
                }

                return formValid;
            });
            

        });

        //function UploadNoCV_SubmitValidate() {
        //    if ($('#CurrentPositionOther').val() == "" && $('#CurrentPosition').val() == "Others") {
        //        $('#txtCurrentPosition_NoCV').text("Please enter a description for current position");
        //        return false;
        //    }
        //    else {
        //        $('#txtCurrentPosition_NoCV').text("");
        //    }
        //}
        
    </script>

}
