﻿@model AHMAdminPage.Models.UserDataModelView
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <p class="lead">AutoHireMe admin page to view candidate's details.</p>

</div>

<div class="row">
    <h3>User submit with uploaded CV</h3>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Full Name : </td>
                <td>@Html.TextBox("FullName")</td>
            </tr>
            <tr>
                <td>Uploaded Date : </td>
                <td>
                    @Html.TextBox("StartDate", "", new { @class = "date-picker" })
                    &nbsp; To &nbsp;
                    @Html.TextBox("EndDate", "", new { @class = "date-picker" })
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" /></td>
            </tr>

        </table>
    }
</div>
<br />
<div class="row">
    <table border="1" class="ui-widget">
        <thead class="ui-widget-header">
            <tr>
                @using (Html.BeginForm())
                {
                    <td>Id</td>
                    <td>FullName</td>
                    <td>Email address</td>
                    <td>Phone Number</td>
                    <td>Preferred Position</td>
                    <td>@Html.ActionLink("Created Date", "Index", new { sortOrder = ViewBag.CreatedDateSortParam, ViewBag.CurrentFilter })</td>
                    <td>Download</td>
                }
            </tr>
        </thead>
        <tbody class="ui-widget-content">
            @foreach (AHMAdminPage.Models.UserUploadFiles d in Model.UserUploadFilesList)
            {
                <tr>
                    <td>@Html.Raw(d.Id.ToString())</td>
                    <td>@Html.Raw(d.FullName)</td>
                    <td>@Html.Raw(d.EmailAddress)</td>
                    <td>@Html.Raw(d.PhoneNumber)</td>
                    <td>@Html.Raw(d.PreferredPosition)</td>
                    <td>@Html.Raw(d.CreatedDate)</td>
                    <td>
                        &nbsp;
                        @if (d.FilePath.Trim().Equals("-"))
                        {
                            <label> - </label>
                        }
                        else
                        {
                            @Html.ActionLink(Path.GetFileName(d.FilePath), "DownloadFile", new { onclick = "return false;", DownloadId = d.Id, DownloadPath = d.FilePath })
                        }
                        @*<input type="submit" value="@Path.GetFileName(d.FilePath)" />*@
                        <input type="hidden" value="@d.Id" name="DownloadId" />
                        <input type="hidden" value="@d.FilePath" name="DownloadPath" />
                        @*}*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @*Page @(Model.UserUploadFilesList.PageCount < Model.UserUploadFilesList.PageNumber ? 0 : Model.UserUploadFilesList.PageNumber) of @Model.UserUploadFilesList.PageCount*@
    @Html.PagedListPager(Model.UserUploadFilesList, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>



<div class="row">
    <h3>User submit without uploaded CV</h3>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Full Name : </td>
                <td>@Html.TextBox("FullName2")</td>
            </tr>
            <tr>
                <td>Uploaded Date : </td>
                <td>
                    @Html.TextBox("StartDate2", "", new { @class = "date-picker" })
                    &nbsp; To &nbsp;
                    @Html.TextBox("EndDate2", "", new { @class = "date-picker" })
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" /></td>
            </tr>

        </table>
    }
</div>
<br />
<div class="row">
    <table border="1" class="ui-widget">
        <thead class="ui-widget-header">
            <tr>
                @using (Html.BeginForm())
                {
                    <td>Id</td>
                    <td>FullName</td>
                    <td>Email address</td>
                    <td>Phone Number</td>
                    <td>Date of Birth</td>
                    <td>Place Of Residence</td>
                    <td>Education Level</td>
                    <td>Experience years</td>
                    <td>Current Position</td>
                    <td>Preferred Position</td>
                    <td>Expected Salary</td>
                    <td>@Html.ActionLink("Created Date", "Index", new { sortOrder2 = ViewBag.CreatedDateSortParam, ViewBag.CurrentFilter2 })</td>
                }
            </tr>
        </thead>
        <tbody class="ui-widget-content">
            @foreach (AHMAdminPage.Models.UserResumeDetails d in Model.userResumeDetailsList)
            {
                <tr>
                    <td>@Html.Raw(d.Id.ToString())</td>
                    <td>@Html.Raw(d.FullName)</td>
                    <td>@Html.Raw(d.Email)</td>
                    <td>@Html.Raw(d.PhoneNumber)</td>
                    <td>@Html.Raw(d.DOB == null ? "" : d.DOB.Value.ToString("yyyy-MM-dd"))</td>
                    <td>@Html.Raw(d.PlaceOfResidence)</td>
                    <td>@Html.Raw(d.EducationLevel)</td>
                    <td>@Html.Raw(d.ExperienceYears)</td>
                    <td>@Html.Raw(d.CurrentPosition)</td>
                    <td>@Html.Raw(d.PreferredPosition)</td>
                    <td>@Html.Raw(d.ExpectedSalary == null || d.ExpectedSalary <= 0 ? "" : d.ExpectedSalary.ToString())</td>
                    <td>@Html.Raw(d.createdDate)</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @*Page @(Model.userResumeDetailsList.PageCount < Model.userResumeDetailsList.PageNumber ? 0 : Model.userResumeDetailsList.PageNumber) of @Model.userResumeDetailsList.PageCount*@
    @Html.PagedListPager(Model.userResumeDetailsList, page2 => Url.Action("Index", new { page2, sortOrder2 = ViewBag.CurrentSort2, currentFilter2 = ViewBag.CurrentFilter2 }))
</div>

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker({ dateFormat: 'yy-mm-dd' });
    })

</script>